Repository thredup/sidekiq-grouping: changes, and which lefthook commands are due for each by the changed paths.
All: appraisal, rubocop

lefthook.yml:

---
# Git hooks configuration
#
# See: github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    appraisal:
      glob: "{Appraisals,*.gemfile}"
      run: echo {staged_files} > /dev/null; bundle exec appraisal install && git add gemfiles/*.gemfile
    rubocop:
      glob: "{*.rb,*.gemspec,Gemfile,Rakefile}"
      run: bundle exec rubocop -A {staged_files} && git add {staged_files}

pre-push:
  commands:
    rspec:
      glob: "*.rb"
      run: echo {push_files} > /dev/null; bundle exec appraisal rspec

Fix rubocop
  .rubocop.yml
  lib/sidekiq/grouping.rb
  lib/sidekiq/grouping/batch.rb
  lib/sidekiq/grouping/config.rb
  lib/sidekiq/grouping/flusher.rb
  lib/sidekiq/grouping/middleware.rb
  spec/modules/batch_spec.rb
  spec/modules/flusher_spec.rb
Due: rubocop

Add Ruby 3.3
  .github/workflows/test.yml
Due: none

Set fail-fast: false
  .github/workflows/test.yml
Due: none

Move fail-fast inside strategy
  .github/workflows/test.yml
Due: none

Merge latest master from gzigzigzeo/sidekiq-grouping (#6)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .rubocop.yml
  .travis.yml
  Appraisals
  README.md
  bin/console
  gemfiles/sidekiq_6.0.gemfile
  gemfiles/sidekiq_6.5.gemfile
  gemfiles/sidekiq_7.0.gemfile
  lefthook.yml
  lib/sidekiq/grouping.rb
  lib/sidekiq/grouping/batch.rb
  lib/sidekiq/grouping/config.rb
  lib/sidekiq/grouping/flusher.rb
  lib/sidekiq/grouping/flusher_observer.rb
  lib/sidekiq/grouping/middleware.rb
  lib/sidekiq/grouping/redis.rb
  lib/sidekiq/grouping/redis_dispatcher.rb
  lib/sidekiq/grouping/version.rb
  lib/sidekiq/grouping/web.rb
  sidekiq-grouping.gemspec
  spec/modules/batch_spec.rb
  spec/modules/flusher_spec.rb
  spec/modules/redis_spec.rb
  spec/spec_helper.rb
  spec/support/test_workers.rb
Due: appraisal, rubocop

Implement LUA script based on Redis version PR (https://github.com/gzigzigzeo/sidekiq-grouping/pull/58)
  lib/sidekiq/grouping/redis.rb
  spec/modules/redis_spec.rb
Due: rubocop
